## DB we don't have ConfigMap creation
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: mongodb
  namespace: safety
# these are deployment labels
  labels:
    project: safety
    component: mongodb
    tier: db
spec:
  replicas: 1
  selector:
    # these labels are used to select pods
    matchLabels:
      project: safety
      component: mongodb
      tier: db
    # pod definition
  template: 
    metadata:
      labels:
        project: safety
        component: mongodb
        tier: db
    spec:
      containers:
      - name: mongodb
        image: "{{ .Values.deployment.imageRepo }}:{{ .Values.deployment.imageVersion }}"
        imagePullPolicy: Always
        readinessProbe:
          tcpSocket:
            port: 27017
          initialDelaySeconds: 20
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 27017
          initialDelaySeconds: 25
          periodSeconds: 10